{{- if eq .chezmoi.os "windows" -}}
set relativenumber
set number
set clipboard=unnamedplus
set ignorecase
set smartcase
set nohlsearch
set incsearch
set scrolloff=10        " Keep 10 lines above/below the cursor
set vimrc
{{- end -}}
