{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -euo pipefail
#IFS=$'\n\t'
# trap 's=$?; echo "$0: Error on line "$LINENO": $BASH_COMMAND"; exit $s' ERR

{{- if eq .chezmoi.osRelease.id "arch" -}}

function appInstall {
  
  if [[ $# -lt 1 ]]; then
    echo "Invalid appInstall argument is missing"
    return 1
  fi

  local app="$1"

  if ! command -v $app >/dev/null 2>&1; then
    yay -Sy $app
  fi
}

{{- end -}}

appInstall evolution
{{- end -}}
