{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -euo pipefail
IFS=$'\n\t'
trap 's=$?; echo "$0: Error on line "$LINENO": $BASH_COMMAND"; exit $s' ERR

{{- if eq .chezmoi.osRelease.id "arch" }}

function yayInstall {
  local app="$1"

#  if ! command -v "$cmd" >/dev/null 2>&1; then
  if ! yay -Q "$app" >/dev/null 2>&1; then
    echo "ℹ️ Installing $app..."
    if ! yay -Sy "$app" --noconfirm; then
      echo "⚠️ Failed to install $app, continuing..."
      return 0
    fi
  else
    echo "✔️ $app is already installed"
  fi


}

# Arch specific
yayInstall azure-cli
yayInstall oniguruma # used by Bat
yayInstall bat
yayInstall bob
yayInstall cifs-utils
yayInstall cursor-bin
yayInstall evolution
yayInstall evolution-ews
yayInstall flatpak
yayInstall ffmpeg7.1
yayInstall fzf
yayInstall jq
yayInstall less
yayInstall libreoffice-still
yayInstall librewolf-bin
yayInstall man-db
yayInstall obs-studio
yayInstall obs-backgroundremoval 
yayInstall obs-source-record
yayInstall onedrive-abraunegg
yayInstall pay-respects-bin
yayInstall podman
yayInstall ripgrep
yayInstall teams-for-linux
yayInstall ttf-firacode-nerd
yayInstall ttf-nerd-fonts-symbols-mono
yayInstall visual-studio-code-bin
yayInstall zoxide

# dotnet
yayInstall aspnet-runtime
yayInstall dotnet-runtime
yayInstall dotnet-sdk


bob install stable
bob use stable

{{- end }}

{{- end }}
