{{- if eq .chezmoi.os "windows" -}}
{{- if eq .chezmoi.hostname "2MQ45115JV" -}}
[keepassxc]
  database = "{{ .chezmoi.homeDir }}/OneDrive - Independent Purchasing Cooperative, Inc"
{{- else -}}
[keepassxc]
  database = "{{ .chezmoi.homeDir }}/OneDrive/Passwords/JefeDelTodos.kdbx"
{{- end -}}
{{- end -}}
